#page{
    width: 30%;
    margin: auto;
    /* border: 1px solid red; */
}

#outerpage{
    margin: 20px;
    /* background-color: blue; */
}


/* @media (max-width: 1024px) {
    #page{
        width: 100%;
        margin: auto;
    }
} */
@media (max-width: 768px) {
    #page{
        width: 100%;
        margin: auto;
    }
}